@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  background-color: rgb(196, 130, 55);
  color: rgb(25, 52, 5);
  font-family: "Titillium Web", sans-serif;
}

#title {
  font-size: 46px;
}
#title_secondry {
  font-size: 32px;
}
header {
  color: rgb(25, 52, 5);
  font-weight: 700;
  border-bottom: 2px solid rgb(25, 52, 5);
}
main {
  padding: 28px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#card {
  width: 315px;
}

#img {
  background-color: rgb(25, 52, 5);
  padding: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  background-color: rgb(25, 52, 5);
  color: rgb(196, 130, 55);
  font-weight: 700;
  padding: 7px;
}
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid rgb(25, 52, 5);
}
